block head-meta
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")

block head-link
    link(rel="stylesheet", href="style/styles.css")

block head-script
    script(src="js/app.js")
        
block head-title
    title Page Title
